__pycache__/
*.pyc
*.pyo
*.egg-info/
*.log
*.debug.log
*.trace.log
*.safetensors
*.bin
*.pt
.cache/
hf_cache/
pip_cache/
conda_pkgs/
.ipynb_checkpoints/
.DS_Store
.idea/
.vscode/
models/
miniforge3/
venv/
env/
